@import "textos";

* {
  margin: 0px;
  padding: 0px;
}

// Este es el estilo del body //
body {
    background: no-repeat fixed;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 100%;
    background-image: radial-gradient(olivedrab, lemonchiffon, white);
  }
  // Acá termina el estilo del body //
  
  // Este es el estilo del header //
  header {
    background-color: olivedrab;
  }
  
  #marginheader {
    margin-left: 20px;
  }
  
  #headerbutton {
    margin-right: 50px;
  }
  // Acá termina el estilo del header //
  
  // Este es el estilo del main *//
  .container{
    margin-top: 2%;
  }
  
  .media {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
  }
  
  .video {
    height: 300px;
    width: 40%;
    margin-bottom: 3%;
    margin-top: 1%;
  }
  // Acá termina el estilo del main //
  
  // Este es el estilo del footer //
  footer {
    background-color: olivedrab;
  }
  
  #buttonreturn {
    height: 20px;
    width: 20px;
  }
  // Acá termina el estilo del footer //